{
  "ignore": [
  ],
  "env": {
    "test": {
      "presets": [
        ["env",
          {
            "modules": false,
            "targets": {
              "browsers": [ "last 2 versions", "not ie <= 8"]
            }
          }
        ],
        "stage-0"
      ],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-decorators-legacy"
      ]
    }
  }
}
