@import 'node_modules/chimee-plugin-controlbar/src/control.css';
@import 'node_modules/chimee-plugin-center-state/src/centerstate.css';
@import 'node_modules/chimee-plugin-contextmenu/src/index.css';
.chimee-container {
  container{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  video{
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    outline: 0;
    &:focus{
      outline: 0;
    }
  }
  chimee-center-state-loading {
    box-sizing: initial;
  }
}